@font-face {
    font-family: "Inter";
    src: url("./Inter/ttf/Inter_28pt-Regular.ttf") format("truetype"),
    url("./Inter/woff/Inter_28pt-Regular.woff") format("woff"),
    url("./Inter/woff2/Inter_28pt-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("./Inter/ttf/Inter_28pt-Medium.ttf") format("truetype"),
    url("./Inter/woff/Inter_28pt-Medium.woff") format("woff"),
    url("./Inter/woff2/Inter_28pt-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("./Inter/ttf/Inter_28pt-SemiBold.ttf") format("truetype"),
    url("./Inter/woff/Inter_28pt-SemiBold.woff") format("woff"),
    url("./Inter/woff2/Inter_28pt-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("./Inter/ttf/Inter_28pt-Bold.ttf") format("truetype"),
    url("./Inter/woff/Inter_28pt-Bold.woff") format("woff"),
    url("./Inter/woff2/Inter_28pt-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: bold;
}
