.hero {
    position: relative;
    margin-bottom: 195px;
}

.hero__top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 5vw;
    padding-inline: 10vw;
}

.hero__text h1 {
    font-size: var(--text-size-large);
    width: 535px;
    font-weight: 600;
    letter-spacing: -3.52px;
    line-height: 111px;
}

.hero__video video {
    position: static;
}

.hero__text .description {
    margin-top: 33px;
    font-size: 32px;
    letter-spacing: -0.64px;
    line-height: 44px;
    width: 607px;
    font-weight: 400;
}

.hero__bottom {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.hero__bottom-grid {
    display: grid;
    gap: 74px;
    grid-template-columns: repeat(3, 1fr);
}

.hero__bottom-grid .text-grid {
    width: 311px;
}

.text-grid .title {
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -0.64px;
    line-height: 40px;
}

.text-grid .description p {
    margin-top: 7px;
    color: var(--text-gray);
    font-size: 21px;
    letter-spacing: -0.43px;
    line-height: 29px;
}

.hero__bottom-buttons {
    display: flex;
    gap: 57px;
}

.btn-register, .btn-auth {
    border-radius: 39px;
    font-size: var(--text-button);
    transition: var(--transition-fast);
}

.btn-register {
    width: 341px;
    height: 106px;
    background-color: var(--background-blue);
    color: var(--text-white);
}

.btn-auth {
    width: 341px;
    height: 106px;
    background-color: transparent;
    border: 1.5px solid var(--background-white);
}

.btn-register:hover, .btn-auth:hover {
    background-color: var(--background-white);
    color: var(--text-black);
}
