/* Убираем все отступы, поля, бордеры */
*,
*::before,
*::after {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  box-sizing: border-box !important;
  background: transparent !important;
  vertical-align: baseline !important;
  font: inherit !important;
  color: inherit !important;
  text-decoration: none !important;
  outline: none !important;
  list-style: none !important;
}

/* Базовые теги HTML */
html, body {
  width: 100% !important;
  height: 100% !important;
  line-height: 1 !important;
  font-size: 100% !important;
  font-family: sans-serif !important;
  background: #fff !important;
  scroll-behavior: smooth !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

/* Медиа */
img, video, picture, canvas, svg {
  display: block !important;
  max-width: 100% !important;
  height: auto !important;
  border: 0 !important;
}

/* Формы */
input,
button,
textarea,
select,
optgroup,
option {
  all: unset !important;
  appearance: none !important;
}

/* Таблицы */
table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}

/* Блочные и строчные элементы */
article, aside, details, figcaption, figure,
footer, header, main, nav, section, summary {
  display: block !important;
}

/* Ссылки */
a {
  text-decoration: none !important;
  color: inherit !important;
}

/* Списки */
ul, ol, li, menu {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* Кнопки */
button {
  background-color: transparent !important;
  cursor: pointer !important;
}

/* Полосы прокрутки (по желанию) */
::-webkit-scrollbar {
  width: 0px !important;
  background: transparent !important;
}

/* Пользовательский выбор */
::selection {
  background: none !important;
  color: inherit !important;
}
